@import "src/styles/constants";

$board-width-desktop: 400px;
$board-width-mobile: 280px;

.board-container {
  width: $board-width-desktop;
  height: $board-width-desktop;

  background-color: #cdc1b5;
  border: 6px solid #bbada0;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-breakpoint-width) {
    width: $board-width-mobile;
    height: $board-width-mobile;
  }
}